<!-- app/views/user_mailer/registration_confirmation.html.erb -->
<html>
  <body>
    <h1>Welcome, <%= @user.name %>!</h1>
    <p>Your registration has been confirmed successfully.</p>
  </body>
</html>
